.search_input{
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 20px,
  }
  
  .users_not_found_title{
    text-align: center;
  }
  .app {
    transition: background-color 0.3s, color 0.3s;
    padding: 20px;
    background: linear-gradient(135deg, #6b5b95, #feb236); /* Градиент */
    color: white; /* Цвет текста для темной темы */
    min-height: 100vh; /* Минимальная высота для полного покрытия экрана */
  }
  
  .dark-mode {
    background: linear-gradient(135deg, #333, #555); /* Темный градиент */
    color: #fff;
  }
  
  .light-mode {
    background: linear-gradient(135deg, #fff, #f0f0f0); /* Светлый градиент */
    color: #000;
  }
  .user-info-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  }
  
  .user-info-card {
  width: 18rem;
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Тень */
  transition: transform 0.2s; /* Плавная анимация при наведении */
  }
  
  .user-info-card:hover {
  transform: scale(1.05); /* Увеличение карты при наведении */
  }
  
  .user-name {
  font-size: 1.5rem;
  font-weight: bold; /* Жирный шрифт для имени */
  color: #007bff; /* Цвет имени */
  }
  
  .user-info-list {
  list-style: none;
  padding: 0;
  }
  
  .user-info-list li {
  margin: 5px 0; /* Отступы между элементами списка */
  font-size: 1rem; /* Размер шрифта */
  color: #333; /* Цвет текста */
  }
  .switch-btn {
    display: flex;
    align-items: center; /* Центруем иконку по вертикали */
    justify-content: flex-start; /* Выравниваем содержимое по левому краю */
  }
  
  .switch-btn svg { /* Это стили для иконок, если вы используете Material UI */
    margin-right: 8px; /* Отступ справа от иконки */
  }